.About{
    margin:2rem;
    h2{
        margin:0rem -.5rem;
    }
    .text-body{
        margin:2rem 0;
    }
    opacity: 1;
    animation-name: fadeInOpacity;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: .25s;
}

.hobbies{
    font-style: italic;
    color:grey;
    display:flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin:2rem;

    .hobby{
        width:5rem;
        height:5rem;
        margin:.5rem;
    }
    .signature{
        font-size: .75rem;
    }
}