.Projects{
    position: relative;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
    font-size:1.3rem;
    padding:1rem;
    .card{
        background: #48565f;
        box-shadow:  .3rem .3rem .3rem #2f383e; 
        width:21em;
        opacity: 1;
        animation-name: fadeInOpacity;
        animation-iteration-count: 1;
        animation-timing-function: ease-in;
        animation-duration: .25s;
        border-radius: .5rem;
        margin:1rem;
    }
    .card-footer{
        display:flex;
        justify-content: space-between;

        .dev-icons > *{
            margin:0 .2rem;
        }
    }
    .card-footer > *{
        font-size: 1.5rem;
    }
    .card-footer > *:hover{
        cursor: pointer;
    }
}

@media only screen and (max-width: 700px) {
    .Projects{
        flex-direction: column;
        padding:0;
        margin-bottom:5rem;
        .card{
            width:90%;
        }
    }
  }

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}