.Home{
    display:flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom:auto; 
    margin-top:9rem;
    margin-left:auto;
    margin-right:auto;
    color:rgb(192, 192, 192);
    .icon{
        height:10rem;
        width:10rem;
    }
    .landing-header{
        margin:2rem 0;
    }
    .intro{
        display:flex;

        h1{
            margin:.5rem;
            margin-top:2rem;
        }
    }
}

@media only screen and (max-width: 600px) {
    .Home{
        margin-top:4rem;
    }

    .intro{
        display:flex;
        flex-direction: column;
        margin:0;
        width:100%;
        margin-bottom:1rem;
        
        h1{
            font-size: 1.5rem;
        }

    }
}
